body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px; /* Taille de la police */
    background-color: #007F7E; /* Couleur du texte */
}

#banner {
    background-color: #ffffff; /* Couleur de fond de la banderole */
    color: rgb(127, 8, 167); /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    padding: 15px; /* Espacement intérieur */
    font-size: 50px; /* Taille de la police */
    border-radius: 0 0 30px 30px; /* Arrondi des bords */
}

        /* Style pour le lien */
a {
    display: block; /* Permet d'avoir une disposition verticale */
    text-align: center; /* Centre le texte sous l'image */
    text-decoration: none; /* Supprime la sous-ligne par défaut */
    color: black; /* Couleur du texte */
}
h3 {
    margin-left: 690px; /* Marge autour du lien */
}