body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #007F7F; /* Couleur de fond */
    color: blanchedalmond;
}

#banner {
    background-color: blanchedalmond; /* Couleur de fond de la banderole */
    color: rgb(127, 8, 167); /* Couleur du texte */
    font-size: 50px; /* Taille de la police */
    display: flex; /* Utiliser Flexbox */
    position: fixed; /* Rendre la bannière fixe */
    align-items: center;
    top: 0; /* Positionner en haut de la page */
    left: 0; /* Positionner à gauche */
    width: 100%; /* Prendre toute la largeur */
    height: 80px;
    z-index: var(--z-fixed);
}

/* Style pour le lien */
a {
    text-align: center; /* Centre le texte sous l'image */
    text-decoration: none; /* Supprime la sous-ligne par défaut */
    color: rgb(255, 255, 255); /* Couleur du texte */
    margin-right: 20px;
}

h3 {
    margin: 0; /* Supprime la marge par défaut */
    font-size: 20px; /* Taille de la police pour le texte */
}

#banner_title {
    margin: 0; /* Supprime la marge par défaut */
    font-size: 50px; /* Taille de la police pour le texte */
}
#Who_main {
    margin: 100px 0 0 20px; /* Supprime la marge par défaut */
    display: flex;
}
.responsive-image {
    width: 100%; /* L'image prendra 100% de la largeur de son conteneur */
    height: auto; /* La hauteur sera ajustée automatiquement */
}
.circular-image {
    width: 150px; /* Largeur de l'image */
    height: 150px; /* Hauteur de l'image (doit être égale à la largeur) */
    border-radius: 50%; /* Pour rendre l'image circulaire */
    object-fit: cover; /* Pour s'assurer que l'image remplit le cercle */
}
#banner_below {
    background-color: blanchedalmond; /* Couleur de fond de la banderole */
    color: rgb(127, 8, 167); /* Couleur du texte */
    padding: 15px; /* Espacement intérieur */
    font-size: 50px; /* Taille de la police */
    display: flex; /* Utiliser Flexbox */
    justify-content: space-around; /* Espacement égal entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
}
h2 {
    margin: 0; /* Supprime la marge par défaut */
    font-size: 40px; /* Taille de la police pour le texte */
}
#Contact_link {
    margin-left: 40px; /* Supprime la marge par défaut */
    font-size: 20px; /* Taille de la police pour le texte */
}

.filtered-image {
    width: 100%; /* Ajustez selon vos besoins */
    height: auto; /* Conserver le rapport d'aspect */
    filter: grayscale(100%); /* Appliquer le filtre gris */
    opacity: 0.7; /* Ajuster la transparence */
}

.overlay-text {
    position: absolute; /* Positionner le texte au-dessus de l'image */
    transform: translate(-50%, -50%); /* Ajuster pour centrer parfaitement */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
}
.button {
    background-color: blanchedalmond; /* Couleur de fond */
    color: rgb(0, 0, 0); /* Couleur du texte */
    padding: 15px 32px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Supprimer le soulignement pour les liens */
    display: inline-block; /* Permet de définir la largeur et la hauteur */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge autour du bouton */
    cursor: pointer; /* Changer le curseur au survol */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 4px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}
.container {
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    justify-items: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}

.item {
    margin: 10px; /* Espace entre les éléments */
    padding: 20px;
    background-color: lightgreen;
    border: 1px solid green;
}